In [ ]:
!ls

In [ ]:
!ls -l

In [ ]:
!pwd

In [ ]:
!ls -l ./sample_data

In [ ]:
!ls -l ./wholesale.xls

In [87]:
import pandas as pd
df = pd.read_excel('./wholesale.xls')
df.head(3)

   Unnamed: 0  Channel  Region  ...  Detergents_Paper  Delicassen  label
0           0        2       3  ...              2674        1338      0
1           1        2       3  ...              3293        1776      0
2           2        2       3  ...              3516        7844      0

[3 rows x 10 columns]

In [88]:
Y = df['label']
X = df.iloc[:,1:9]
Y.shape, X.shape

((440,), (440, 8))

In [89]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier()
dtree.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [91]:
dtree.score(X,Y)

1.0